@import "https://fonts.googleapis.com/css?family=Russo+One";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-image: url(img/alchemy.gif);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
  justify-content: flex-start;
}

h1.title{
  color: rgb(104, 65, 243);
  font-size: 1em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);

}

 .title {
  background-position:-300px 0;
  }
 
  

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-form {
  display: flex;
  border-radius: 10px; 
  position: relative;
  background-color: white;
  border: 1px solid yellow; 
  opacity: 80%;

}


 .border{
  min-width: 300px;
  height: 50px;
  align-self: flex-end;
 }
 .send{
   height: 55px;
   color: white;
   background-color: blueviolet;
   align-self: flex-end;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
 }
 .text{
   color: black;
 }

